#wifi api for wifiauth
VITE_API_URL=your_api_url_here

#enable logs
VITE_ENABLE_LOGS=true

#firebase config
VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_APP_ID=your_firebase_app_id_here
VITE_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain_here
VITE_FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id_here
VITE_FIREBASE_PROJECT_ID=your_firebase_project_id_here
VITE_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket_here

#gemini api key
VITE_GEMINI_API_KEY=your_gemini_api_key_here

#openai api key
VITE_OPENAI_API_KEY=your_openai_api_key_here

# Add this with your actual measurement ID
VITE_GA_MEASUREMENT_ID=your_ga_measurement_id_here

# Add this with your DeepSeek API key
VITE_DEEPSEEK_API_KEY=your_deepseek_api_key_here

# VAPID Keys for Push Notifications
VITE_VAPID_PUBLIC_KEY=your_vapid_public_key_here
VITE_VAPID_PRIVATE_KEY=your_vapid_private_key_here
